* {
margin: 0; 
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(123, 100, 160) ;
    padding: 13px 10px;
}

.logo a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fa-bell {
    display: flex;
    font-size: 27px;
    color: white;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.fa-bell:hover {
    color: rgb(182, 213, 234); 
}
 
@keyframes bell-shake {
    0% { transform: rotate(0); }
    20% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(10deg); }
    100% { transform: rotate(0); }
}

.bell-animate {
    animation: bell-shake 0.8s ease-in-out;
}

.notification-indicator {
    display: none;
    position: absolute;
    top: 6px;  
    right: 8px;  
    width: 10px;
    height: 10px;;
    background-color: #efa6a6;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(231, 30, 30, 0.8);
}

.avatar {
    height: 32px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.avatar:hover {
    border: 2px solid rgb(182, 213, 234);
}

.username {
    color: white;
    font-size: 16px;
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-header {
    position: absolute;
    top: 35px; 
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    min-width: 150px;
    padding: 10px;
}

.profile-header a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-align: center;
}
 
.profile-header button {
    padding: 10px;
    background: rgb(182, 213, 234);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.profile-menu:hover .profile-header {
    display: flex;
}

.profile-menu a:hover, .profile-menu button:hover {
    background-color: #ddd;
}

.notification-header {
    position: relative;
    padding: 5px 0;
}

.notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    min-width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1100;
}

.notification-header:hover .notification-dropdown {
    display: block;
}

.notification-item:hover {
    background-color: rgb(182, 213, 234);
    border-radius: 30px;
}

.notification-item:hover .message {
    background-color: #e0e0e0; 
}

.notification-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;
    border-bottom: 3px solid #eee;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.notification-item:last-child {
    border-bottom:none;
}

.notification-item img {
    height: 40px;
    border-radius: 50%;
    border: 2px solid lavender;
}

.message {
    background: #ccc;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.sideburger {
    width: 300px;
    padding: 40px;
    position: fixed;
    height: 100%;
}

.menu {
    list-style-type: none;
}

.menu li {
    padding: 10px ;
    font-size: 23px;
} 

.menu a {
    text-decoration: none;
    color: black;
}

.menu .active {
    font-weight: bold;
}

.menu a:hover {
    color: #6f5977; 
    font-weight: bold;
}

main {
    margin-left: 340px; 
    padding: 45px 20px;
}

@media screen and (max-width: 860px) {
    .header {
        flex-direction: row;
        text-align: center;
    }

    .sideburger {
        position: static;
        width: 100%;
        padding: 15px 0;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        border: 1px solid rgb(123, 100, 160) ;
        border-radius: 15px;
    }

    .menu li {
        font-size: 18px;
        padding: 5px;
    }

    main{
        margin-left: 0;
    }
}

@media screen and (max-width: 675px) {
    .menu {
        gap: 15px;
    }

    .menu li {
        font-size: 18px;
        padding: 5px;
    }

    .username{
        display: none;
    }

    .notification-dropdown {
        min-width: 150px; 
        padding: 5px; 
    }

    .notification-item {
        gap: 5px;
        padding: 5px;
    }

    .notification-item img {
        height: 28px; 
    }

    .message {
        font-size: 12px;
        padding: 5px 12px;
    }

    .profile-header {
        min-width: 120px;
        padding: 8px; 
    }

    .profile-header a {
        font-size: 14px;
    }

    .profile-header button {
        padding: 8px; 
        font-size: 14px; 
        margin-top: 5px; 
    }
}

@media screen and (max-width: 480px) {
    .notification-dropdown {
        max-width: 250px; 
        padding: 3px;
    }

    .notification-item {
        gap: 3px;
        padding: 3px;
    }
}

@media screen and (max-width: 320px){
    .notification-dropdown {
        max-width: 200px; 
        }

    .profile-header {
        min-width: 100px;
        padding: 8px; 
    }

    .profile-header a {
        font-size: 12px;
    }

    .profile-header button {
        padding: 8px; 
        font-size: 12px; 
        margin-top: 5px; 
    }
}