* {
   margin: 0; 
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(123, 100, 160) ;
    padding: 13px 10px;
}

.logo a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fa-bell {
    display: flex;
    font-size: 27px;
    color: white;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.fa-bell:hover {
    color: rgb(182, 213, 234); 
}

@keyframes bell-shake {
    0% { transform: rotate(0); }
    20% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    60% { transform: rotate(-10deg); }
    80% { transform: rotate(10deg); }
    100% { transform: rotate(0); }
}

.bell-animate {
    animation: bell-shake 0.8s ease-in-out;
}

.notification-indicator {
    display: none;
    position: absolute;
    top: 6px;  
    right: 8px;  
    width: 10px;
    height: 10px;;
    background-color: #efa6a6;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(231, 30, 30, 0.8);
}

.avatar {
    height: 32px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.avatar:hover {
    border: 2px solid rgb(182, 213, 234);
}

.username {
    color: white;
    font-size: 16px;
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-header {
    position: absolute;
    top: 35px; 
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    min-width: 150px;
    padding: 10px;
}

.profile-header a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-align: center;
}

.profile-header button {
    padding: 10px;
    background: rgb(182, 213, 234);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.profile-menu:hover .profile-header {
    display: flex;
}

.profile-menu a:hover, .profile-menu button:hover {
    background-color: #ddd;
}

.notification-header {
    position: relative;
    padding: 5px 0;
}

.notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    min-width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1100;
}

.notification-header:hover .notification-dropdown {
    display: block;
}

.notification-item:hover {
    background-color: rgb(182, 213, 234);
    border-radius: 30px;
}

.notification-item:hover .message {
    background-color: #e0e0e0; 
}

.notification-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    padding: 10px;
    border-bottom: 3px solid #eee;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.notification-item:last-child {
    border-bottom:none;
}

.notification-item img {
    height: 40px;
    border-radius: 50%;
    border: 2px solid lavender;
}

.message {
    background: #ccc;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.sideburger {
    width: 300px;
    padding: 40px;
    position: fixed;
    height: 100%;
}

.menu {
    list-style-type: none;
}

.menu li {
    padding: 10px ;
    font-size: 23px;
} 

.menu a {
    text-decoration: none;
    color: black;
}

.menu .active {
    font-weight: bold;
}

.menu a:hover {
    color: #6f5977; 
    font-weight: bold;
}

.table-container {
    margin-left: 340px;
    padding: 45px 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table-title {
    font-size: 30px;
    margin-bottom: 30px;
} 

.table-wrapper {
    position: relative;
    width: 100%;
    overflow-x: visible; 
    margin: 0 auto;
}

.icons {
    position: absolute;
    top: -30px;    
    right: 0; 
    z-index: 900;
    display: flex;
    gap: 10px;
    font-size: 24px;
    cursor: pointer;
}

.icons i {
    transition: color 0.3s ease, transform 0.2s ease; 
}

#addStudentBtn:hover {
    color: #45a049; 
    transform: scale(1.2); 
}

#deleteAllBtn:hover {
    color: #b71c1c; 
    transform: scale(1.2); 
}

table {
    table-layout: auto; 
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    text-align: center;
    white-space: nowrap;
    padding: 20px 10px;
    border: 1px solid black;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
  }

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    display: none; 
}

.status {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.status-active {
    background-color: rgb(177, 239, 177);
}

.status-inactive {
    background-color: lightgray;
}

.edit-btn, .delete-btn {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    font-size: 24px; 
    margin: 0 5px;   
}

.edit-btn i, .delete-btn i {
    color: rgb(65, 65, 65); 
}

.edit-btn:hover i {
    color: rgb(182, 213, 234);   
}

.delete-btn:hover i {
    color: #aa4778;   
}

.pagin {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
}

.pagin button {
    padding: 5px 12px; 
    font-size: 14px; 
    border: 1px solid black; 
    background-color: white; 
    color: black;
    border-radius: 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagin button:hover {
    background-color: lavender;
    color: black;
}

.pagin .active {
    background-color: lavender;
      color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.289);
}

.modal-content {
    background-color: lavender;
    margin: 15% auto;
    border: 1px solid #888;
    max-width: 600px;
    font-size: 20px;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.header-divider {
    border: 0;
    height: 2px;
    background: #a6a6a6;
    margin: 0 0 15px 0;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

.close:hover {
    color: black;
    transform: scale(1.1);
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 5px 15px;
    cursor: pointer;
}

#studentName{
    font-weight: bold;
}

#confirmBtn {
    background-color: rgb(145, 205, 245);
    color: black;
    border: none;
    border-radius: 15px;
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

#confirmBtn:hover {
    font-weight: bold;
    transform: scale(1.1);
}

#cancelDeleteBtn {
    background-color: #d381aa;
    color: black;
    border: none;
    border-radius: 15px;
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

#cancelDeleteBtn:hover {
    font-weight: bold;
    transform: scale(1.1);
}

.student-form {
    width: 400px;         
    margin: 0 auto; 
}

select:invalid {
    color: #a9a4a4; 
  }
  
select option:not(:first-child) {
    color: black; 
}

input[type="date"]:invalid {
    color: #a9a4a4;
}

input[type="date"]:valid {
    color: black;
}
 
.error-message {
    color: red;
    font-size: 10px;
    margin-top: 4px;
    display: block;
    margin-left: 10px;
}

select.error,
input.error {  
  border: 1px solid #ef7979;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
  
.form-group label {
    width: 100px; 
    text-align: right;
    margin-right: 10px;
}

.input-wrapper {
    flex: 1;                
    display: flex;
    flex-direction: column; 
}

.input-wrapper input,
.input-wrapper select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 10px; 
}
  
input.error,
select.error {
  border: 1px solid red;
}

.modal-footer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}
  
.modal-footer button {
    padding: 5px 15px;
    cursor: pointer;
    color: black;
    border: none;
    border-radius: 15px;
}

#createBtn{
    background-color: rgb(145, 205, 245);
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

#createBtn:hover{
    font-weight: bold;
    transform: scale(1.1);
}

#cancelBtn{
    background-color: #d381aa;
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

#cancelBtn:hover {
    font-weight: bold;
    transform: scale(1.1);
}

#editSaveBtn {
    background-color: rgb(145, 205, 245);
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

#editSaveBtn:hover {
    font-weight: bold;
    transform: scale(1.1);
}

#editCancelBtn {
    background-color: #d381aa;
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

#editCancelBtn:hover {
    font-weight: bold;
    transform: scale(1.1);
}

#cancelDeleteAllBtn{
    background-color: #d381aa;
    color: black;
    border: none;
    border-radius: 15px;
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

#cancelDeleteAllBtn:hover {
    font-weight: bold;
    transform: scale(1.1);
}

#confirmDeleteAllBtn {
    background-color: rgb(145, 205, 245);
    color: black;
    border: none;
    border-radius: 15px;
    transition: transform 0.2s ease, font-weight 0.2s ease;
}

#confirmDeleteAllBtn:hover {
    font-weight: bold;
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .sideburger { 
        width: 200px;
        padding: 40px;
        position: fixed;
        height: 100%;
    } 
    
    .table-container {
        margin-left: 240px;
        padding: 45px 20px;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}

@media screen and (max-width: 860px) {
    .header {
        flex-direction: row;
        text-align: center;
    }
    
    .sideburger {
        position: static;
        width: 100%;
        padding: 15px 0;
    }
    
    .menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        border: 1px solid rgb(123, 100, 160) ;
        border-radius: 15px;
    }
    
    .menu li {
        font-size: 18px;
        padding: 5px;
    }
    
    .table-container {
        margin-left: 0;
        padding: 30px 35px;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    } 
}

@media screen and (max-width: 675px) {
    .menu {
        gap: 15px;
    }

    .menu li {
        font-size: 18px;
        padding: 5px;
    }

    .username{
        display: none;
    }

    .table-container {
        margin-left: 0;
        padding: 20px 5px;
        width: 96%;
    } 

    .table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        padding-top: 30px;
    }
    
    .icons {
        position: absolute;
        top: 1px; 
        right: auto;
        left: 10px;
        z-index: 900;
        display: flex;
        gap: 10px;
        font-size: 24px;
    }

    table {
        min-width: 600px;
        width: 100%;
    }

    .pagin {
        flex-wrap: wrap;
    }

    .notification-dropdown {
        min-width: 150px; 
        padding: 5px; 
      }
    
      .notification-item {
        gap: 5px;
        padding: 5px;
      }
    
      .notification-item img {
        height: 28px; 
      }
    
      .message {
        font-size: 12px;
        padding: 5px 12px;
      }

      .profile-header {
        min-width: 120px;
        padding: 8px; 
      }
    
      .profile-header a {
        font-size: 14px;
      }
    
      .profile-header button {
        padding: 8px; 
        font-size: 14px; 
        margin-top: 5px; 
      }

}
 
@media screen and (max-width: 480px) {
    .icons {
        top: 3px;
        font-size: 22px;
        right: auto;
        left: 5px;
    }

    .notification-dropdown {
        max-width: 250px; 
        padding: 3px;
      }
    
      .notification-item {
        gap: 3px;
        padding: 3px;
      }

}

@media screen and (max-width: 320px){
    .notification-dropdown {
        max-width: 200px; 
      }

      .profile-header {
        min-width: 100px;
        padding: 8px; 
      }
    
      .profile-header a {
        font-size: 12px;
      }
    
      .profile-header button {
        padding: 8px; 
        font-size: 12px; 
        margin-top: 5px; 
      }

}

